

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #1c1d26;
  }
  
  header {
    
    margin-bottom: 40px;
  }
  
  
  
  
  /* ---  Navigation --- */
  
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  header nav ul li a:hover {
    color: #bdbdbd;
  }
  
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }
  
  /* ---  Primary Groups --- */
  
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  
  section.dark-background {   
    background-color: #c5c0b8;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
  }
  
  footer {
    background-color: #272833;  
    margin-bottom: 0;
  }
  
  /* ---  Typography --- */
  
  h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}

  h1 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin: 0 10px;
    text-align: center;
    
  }
  
  h3 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
  }
  
  p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  .sub-header {
      margin-bottom: 15px;;
  }

  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color: #38786a; }
  main  a:visited { color: #38786a; }
  main  a:hover { color: #403933; }
  a:active { color: #403933; }
  
  
  a:hover {
      text-decoration: underline;	
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  
  .square {
      border-radius: 0%;
      padding-bottom: 20px;
  }
  
  
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }

  code {
    background: rgba(255, 255, 255, 0.075);
    border-radius: 4px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
  }

  .link {
    text-decoration: none;
    color:  #e44c65;


  }
    
  
  
  
  /* ---  (Desktop) Groups & Items --- */
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }
  
  
  
  /* Contact Form Design */
  
  form {
    padding-left: 15px;
    /* Fixed small sizing issue on the right */
    
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }


  .actions {
    list-style-type: none;
    margin-right: 25px;
    
    

}

.actions .primary, .secondary {
   background-color: #e44c65;
   border: none;
   color: white;
   
}

label {
  color: white;
}

/*Desktop */
@media only screen and (min-width: 992px) {
    #ac_logo {height: 80px;
                width: 70px;
                margin-top: -19px;
                margin-left: -11px;}

                ul {
                    margin-right: 45px;
                    
                    
                }
            }
  
        
/* Mobile */
@media only screen and (max-width: 992px){
    #ac_logo {
        height: 80px;
        width: 70px;
        margin-top: -19px;
        margin-left: -1px;
        }

    .pre-bio {
        float: center;
        margin-top: 10px;
        
        text-align: center;
    }

    img {
       
       margin-left: 31%;
    }

     /* Form */
    form {
        margin-left: 8px;
        width: 90%;
        }	

    .actions {
        margin-right: 45px;

    }

    ul {
        margin-right: 45px;
        
        
    }

    h1 {
      text-align: center;
    }
}

/* Image */


	

img {
    border-radius: 100px;
    border: 0;
    
    
    
    width: 200px;
    height: 200px;
}

.actions {
    list-style-type: none;
    

}

.actions .primary, .secondary {
   background-color: #e44c65;
   border: none;
   color: white;
}

/* Footer */

#footer {
    background: #272833;
    padding: 6em 0;
    text-align: center;
}

   

        

      

    #footer .copyright {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8em;
        line-height: 1em;
        margin: 2em 0 0 0;
        padding: 0;
        text-align: center;
    }

        #footer .copyright li {
            border-left: solid 1px rgba(255, 255, 255, 0.3);
            display: inline-block;
            list-style: none;
            margin-left: 1.5em;
            padding-left: 1.5em;
        }

            #footer .copyright li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            #footer .copyright li a {
                color: inherit;
            }

 @media screen and (max-width: 1280px) {

    /* Basic */
        
    body, input, select, textarea {
        font-size: 11.5pt;
        }
        
   
        
                
        
    /* Footer */
        
    #footer {
        padding: 4.5em 0;
        padding-bottom: 0;
        
            }
        
            }

    /* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
        position: relative;
        display: inline;
        color: #e44c65;
        font-family: 'Font Awesome 5 Brands' !important;        
	}

	.icon > .label {
        display: none;
           
		}	

	ul > li {
        list-style-type: none;
        display: inline;
        padding: 5px;
        
    }	



    

			

			

			

    

   


  